<h1>
  <%= @event.new_record? ? "New event" : "Editing event" %>
</h1>

<% form_for @event do |f| %>

  <%= error_messages_for 'event' %>
  <%= error_messages_for 'location' %>

  <div id="location_select">
    <p>
      <%= f.label :location_id, "Location (leave blank for other)" %>
      <br />
      <%= f.collection_select :location_id, @locations, :id, :name  %>
      <%= link_to_remote "Add New", :update => 'location_select', :url => add_location_events_path %>
    </p>
  </div>

  <p>
    <%= f.label :name, "Event name" %>
    <br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :starts_at %>
    <br/>
    <%= f.datetime_select :starts_at %>
  </p>

  <p>
    <%= f.label :ends_at %>
    <br/>
    <%= f.datetime_select :ends_at %>
  </p>

  <p>
    <%= f.label :agenda %>
    <br/>
    <%= f.text_area :agenda %>
  </p>

  <p>
    <%= f.label :cancelled, "Cancelled?" %>
    <br/>
    <%= f.check_box :cancelled %>
  </p>

  <p>
    <%= f.label :minutes %>
    <br/>
    <%= f.text_area :minutes %>
  </p>

  <%= f.submit(@event.new_record? ? "Create" : "Update") %>
<% end %>

<% unless @event.new_record? %>
  <%= link_to 'Show this event', event_path(@event) %> |
<% end %>
<%= link_to 'Browse events', events_path %>
