<h1>Listing events</h1>

<table id="eventlist">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Starts At</th>
    <th>Status</th>
  </tr>

<% for event in @events %>
  <tr class="<%= event.status %>_event">
    <td>
      <%= link_to event.name, event_path(event) %>
    </td>
    <% unless event.location %>
      <td><i>unknown</i></td>
    <% else %>
      <td>
        <%= link_to event.location.name, location_path(event.location) %>
      </td>
    <% end %>
    <td><%= event.starts_at.strftime('%a %b %d %Y at %I:%M%p') %></td>
    <td><%= event.status %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @events %>

<br />

<%= link_to 'New event', :action => 'new' %>
