<h1>Listing events</h1>

<table id="eventlist">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Starts At</th>
  </tr>

<% @events.each do |event| %>
  <tr class="<%= event.cancelled? ? 'cancelled' : 'active' %>_event">
    <td>
      <%= 'CANCELLED:' if event.cancelled? %>
      <%= link_to h(event.name), event_path(event) %>
    </td>
    <% unless event.location %>
      <td><i>unknown</i></td>
    <% else %>
      <td>
        <%= link_to h(event.location.name), location_path(event.location) %>
      </td>
    <% end %>
    <td>
      <%= event.starts_at.to_s(:usual) %>
      &mdash;
      <%= event.ends_at.to_s(:brief) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @events %>

<p>
  <%= link_to 'New event', :action => 'new' %>
</p>
