<h1>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </p>
  <p>
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </p>
  <p>
    <%= f.label :agenda %><br />
    <%= f.text_area :agenda %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :minutes %><br />
    <%= f.text_area :minutes %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>