<h2><%= @event.name %></h2>

<% if @event.cancelled? %>
  <h3>This event has been cancelled.</h3>
<% end %>

<p>Organized by
  <% if @event.member %>
    <%= link_to @event.member.name, member_path(@event.member) %>
  <% else %>
    no one
  <% end %>
</p>

<p>
  Time:
  <%= @event.starts_at.strftime('%a %b %d %Y at %I:%M%p') %>
  &mdash;
  <%= @event.ends_at.strftime('%a %b %d %Y at %I:%M%p') %>
</p>

<p>Location:
  <% if @event.location %>
    <%= link_to @event.location.name, location_path(@event.location) %>,
    <%= @event.location.address %>
  <% else %>
    To be decided
  <% end %>
</p>

<h3>Agenda</h3>
<p><%= textilize @event.agenda %></p>

<% unless @event.minutes.empty? -%>
  <h3>Minutes</h3>
  <%= textilize @event.minutes %>
<% end -%>

<hr/>

<% if logged_in? %>
  <% if current_user == @event.member %>
    <p>
      <%= link_to 'Edit this event', edit_event_path(@event) %> |
      <%= link_to 'Destroy this event', event_path(@event), :method => :delete, :confirm => 'Destroy this event?' %>
      <% if false %><%# FIXME release access to event %>
      | <%= link_to 'Give up ownership',
          :action => 'release',
          :id => @event,
          :confirm => 'Are you sure?' %>
      <% end %>
    </p>
  <% else %>
    <% if false %><%# FIXME grant access to event %>
      <% if @event.unclaimed? %>
        <%= link_to 'Claim ownership',
            :action => 'claim',
            :id => @event,
            :confirm => 'Are you sure?' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= link_to 'Browse other events', events_path %>
</p>
