<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>

<% if @location.homepage %>
  <p>
    <b>Homepage:</b>
    <%= link_to h(@location.homepage), @location.homepage %>
  </p>
<% end %>

<p>
  <b>Created at:</b>
  <%=h @location.created_at %>
</p>

<p>
  <% if @location.can_alter?(current_user) %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
  <%= link_to 'Destroy', location_path(@location), :method => :delete, :confirm => 'Destroy this location?' %> |
  <% end %>
  <%= link_to 'Browse locations', locations_path %>
</p>
