<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="copyright" content="(c) Copyright 2005 John Labovitz">
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= javascript_include_tag 'prototype' %>
    <%= auto_discovery_link_tag(:atom, events_path(:format => :atom), :title => "Portland Ruby Brigade events") %>

    <title>The Portland Ruby Brigade (PDX.rb)</title>
  </head>

  <body>

    <div id="banner">

      <div id="banner-left">
        <h1>pdx.rb</h1>
      </div>

      <div id="banner-right">
        <h1>The Portland Ruby Brigade</h1>
      </div>

    </div>

    <div id="sidebar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Members', members_path %></li>
        <% if logged_in?%>
          <li>
            <dl>
              <dt><%= h current_user.name %></dt>
              <dd>
                <ul>
                  <li><%= link_to 'Profile', member_path(current_user) %></li>
                  <li><%= link_to 'Logout', logout_path %></li>
                </ul>
              </dd>
            </dl>
          </li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Register', new_member_path %></li>
        <% end %>
      </ul>

      <%= link_to(
        image_tag('build125.png',
          :alt => "I'm Volunteering at Open Source Bridge – June 1–4, 2010 – Portland, OR",
          :border => 0,
          :style => 'margin-top: 1em'),
        "http://opensourcebridge.org/?ref=2010build125") %>
    </div>

    <div id="content">
      <%# Uncommment the line below to test styling of flash %>
      <%### flash[:error] = "OMG!"; flash[:notice] = "Hello!"; %>
      <% unless flash.blank? %>
        <div id="flash">
          <% flash.each_pair do |kind, message| %>
          <p class="flash_<%= kind %>">
            <%= message %>
          </p>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
