<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<meta http-equiv="Content-Language" content="en-us">
  	<meta name="copyright" content="(c) Copyright 2005 John Labovitz">
        <%= stylesheet_link_tag 'stylesheet' %>
        <%= stylesheet_link_tag 'scaffold' %>
        <%= javascript_include_tag 'prototype' %>
  	<title>The Portland Ruby Brigade (PDX.rb)</title>
  </head>

  <body>

    <div id="banner">

      <div id="banner-left">
        <h1>pdx.rb</h1>
      </div>

      <div id="banner-right">
        <h1>The Portland Ruby Brigade</h1>
      </div>

    </div>

    <div id="sidebar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <% if logged_in?%>
          <li><%= link_to 'Members', members_path %></li>
          <li>
            <dl>
              <dt><%= current_user.name %></dt>
              <dd>
                <ul>
                  <li><%= link_to 'Settings', member_path(current_user) %></li>
                  <li><%= link_to 'Logout', logout_path %></li>
                </ul>
              </dd>
            </dl>
          </li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Register', new_member_path %></li>
        <% end %>
      </ul>
    </div>

    <div id="content">
      <% if flash[:notice] %>
        <p class="flash"><%= flash[:notice] %></p>
      <% end %>

      <%= @content_for_layout %>
    </div>

  </body>
</html>
