<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Feed url</th>
    <th>About</th>
    <th>Created at</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%=h member.name %></td>
    <td><%=h member.email %></td>
    <td><%=h member.password %></td>
    <td><%=h member.feed_url %></td>
    <td><%=h member.about %></td>
    <td><%=h member.created_at %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New member', new_member_path %>