<h3>Profile</h3>
<blockquote>
  <% if @member.can_alter?(current_user) %>
    <div style="float:right">
      <%= link_to 'Edit', edit_member_path(@member) %>
      <% if current_user.admin? %>
        | <%= link_to 'Login as', login_as_path(@member), :method => :post %>
        | <%= link_to 'Destroy', member_path(@member), :method => :delete, :confirm => "Destroy this user?" %>
      <% end %>
    </div>
  <% end %>
  <p>
    <% if @member.picture.file? %>
      <%= image_tag @member.picture.url(:medium) %>
    <% end %>
   </p>

   <% if @member.admin? %>
     <p style="color: green">
       <b>Administrator</b>
     </p>
   <% end %>

   <% if @member.spammer? %>
     <p style="color: red">
       <b>Spammer</b>
     </p>
   <% end %>

   <p>
     <b>Name:</b> <%= h @member.name %>
   </p>

   <% unless @member.website.blank? %>
     <p>
       <b>Website:</b> <%= display_link_to @member.website, :nofollow => true %>
     </p>
   <% end %>

   <% unless @member.feed_url.blank? %>
     <p>
       <b>Feed URL:</b> <%= display_link_to @member.feed_url, :nofollow => true %>
     </p>
   <% end %>

    <% if logged_in_and_nonspammer? and not @member.email.blank? %>
      <p>
        <b>Email:</b> <%= display_mail_to @member.email %>
      </p>
    <% end %>

   <% unless @member.irc_nick.blank? %>
     <p>
       <b>IRC nick:</b> <%= h(@member.irc_nick) %>
     </p>
   <% end %>

   <% unless @member.about.blank? %>
     <p>
       <b>About:</b>
       <br/>
       <%= display_textile_for @member.about %>
     </p>
   <% end %>
</blockquote>
