<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @member.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @member.password %>
</p>

<p>
  <b>Feed url:</b>
  <%=h @member.feed_url %>
</p>

<p>
  <b>About:</b>
  <%=h @member.about %>
</p>

<p>
  <b>Created at:</b>
  <%=h @member.created_at %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>