<h3>Profile</h3>
<blockquote>
  <% if @member.can_alter?(current_user) %>
    <div style="float:right">
      <%= link_to 'Edit', edit_member_path(@member) %>
      <% if current_user.admin? %>
        | <%= link_to 'Destroy', member_path(@member), :method => :delete, :confirm => "Destroy this user?" %>
      <% end %>
    </div>
  <% end %>
  <p>
    <% if !File.exist?("#{RAILS_ROOT}/public/images/members/#{@member.id.to_s}.jpg") %>
      <%= image_tag '/images/members/default.jpg' %>
    <% else %>
      <%= image_tag "/images/members/#{@member.id.to_s}.jpg" %>
    <% end %>
   </p>

   <% if @member.admin? %>
   <p style="color: red">
     <b>Administrator</b>
   </p>
   <% end %>

   <p>
     <b>Name:</b> <%= h @member.name %>
   </p>

   <% unless @member.feed_url.blank? %>
     <p>
       <b>Feed URL:</b> <%= link_to h(@member.feed_url), @member.feed_url %>
     </p>
   <% end %>

    <% if logged_in? and not @member.email.blank? %>
      <p>
        <b>Email:</b> <%= link_to h(@member.email), "mailto:#{@member.email}" %>
      </p>
    <% end %>

   <% unless @member.irc_nick.blank? %>
     <p>
       <b>IRC nick:</b> <%= h(@member.irc_nick) %>
     </p>
   <% end %>

   <% unless @member.about.blank? %>
     <p>
       <b>About:</b>
       <br/>
       <%= textilize @member.about %>
     </p>
   <% end %>
</blockquote>
